.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron
release/

test-report.html
coverage
*.pfx
/src/index.ts

# ignore jest report files
/reports/
/jenkins-jest-test-report.xml
/junit.xml
/test-report.xml
/test-cases-config.json
/.env

# python stuff
/venv/

# DMG Licence
/src/assets/license_de.txt


Archive.Jenkinsfile
Jenkinsfile
JenkinsfileMacOS
Release.Jenkinsfile
Github-Release.Jenkinsfile
*Jenkinsfile*
/tests/Integration/
Koco.env
Secunet.env
Rise.env

# echte p12 Dateien von unserem Kon23 - derzeit wird geklärt, ob die ins gitHub dürften, deshalb erst einmal hier
/tests/resources/certs/example/cs0001.p12
/tests/resources/certs/example/cs0001_ECC.p12
/tests/resources/certs/example/cs0001_RSA_ECC.p12
/tests/resources/certs/example/smcb-idp-expired.p12
/tests/unit/modules/settings/settings-validation.spec.ts
/tests/unit/modules/settings/formBuilderP12Validity.spec.ts
# private Schlüssel mit Zertifikat
/tests/resources/certs/example/example-cer.cer
/tests/resources/certs/example/example-key.cer
/tests/resources/certs/kops

/src/assets/certs-konnektor/ca/ru

# Fastlane
./fastlane
/fastlane
/fastlane/

# Internal Configurations
# TODO we should write this down in our guide lines
**/internal-files

# MSIX Configurations
/msix
/msix/

